# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

*.pem
*.openssh
*.key

frontend/oac.json
frontend/distribution.json
frontend/bucket-policy.json
route-tables.json

.env.*
!.env.example

ccg-ec2-trust.json
github-actions-oidc-trust.json

!.env.production