.env

*.pem
*.openssh
*.key

*.db

frontend/oac.json
frontend/distribution.json
frontend/bucket-policy.json
route-tables.json

.env.*
!.env.example

ccg-ec2-trust.json
github-actions-oidc-trust.json

!.env.production